/* 你的css代码 */

@font-face {
  font-family: 'ProductSans';
  src: url('../fonts/ProductSans-Bold.ttf')
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  border: 0;
  margin: 0;
}

.root {
  width: 728px;
  margin: auto;
}

.title p {
  font-family: ProductSans;
  margin: 32px 16px 2px ;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  height: 72px;
  margin: 18px 16px 0 16px;
  display: flex;
  flex-direction: row;
  float: left;
}

.content img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
}

.content div {
  border: 0;
  width: 136px;
  margin-left: 12px;
  margin-right: 24px;
  overflow: hidden;white-space: nowrap;text-overflow:ellipsis
}

.content div p {
  font-family: Roboto;
  height: 14px;
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 9px;
}

.content > div > p:first-child {
  white-space: nowrap;
}

.content iframe {
  height: 10px;
  width: 10px;
}

.content button {
  background-color: #eef7fe;
  width: 88px;
  height: 32px;
  margin: auto;
  border-radius: 16px;
  border: none;
  color: #56b3fa;
  text-align: center;
  display: inline-block;
}

.content button {
  background-color: #eeffee;
  width: 34px;
  height: 45px;
  margin: 17px;
}